In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [4]:
df.drop(columns=["Age","RoomService","FoodCourt","ShoppingMall","Spa" ,"VRDeck","Cabin"],inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  8693 non-null   object
 1   HomePlanet   8492 non-null   object
 2   CryoSleep    8476 non-null   object
 3   Destination  8511 non-null   object
 4   VIP          8490 non-null   object
 5   Name         8493 non-null   object
 6   Transported  8693 non-null   bool
dtypes: bool(1), object(6)
memory usage: 416.1+ KB

In [12]:
df['HomePlanet'].fillna(value=df["HomePlanet"].mode()[0],inplace=True)
df['CryoSleep'].fillna(value=df["CryoSleep"].mode()[0],inplace=True)

df['Destination'].fillna(value=df["Destination"].mode()[0],inplace=True)
df['VIP'].fillna(value=df["VIP"].mode()[0],inplace=True)

In [13]:
df.duplicated().sum()

0

In [15]:
df.isnull().sum()

PassengerId    0
HomePlanet     0
CryoSleep      0
Destination    0
VIP            0
Transported    0
dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  8693 non-null   object
 1   HomePlanet   8693 non-null   object
 2   CryoSleep    8693 non-null   bool
 3   Destination  8693 non-null   object
 4   VIP          8693 non-null   bool
 5   Transported  8693 non-null   bool
dtypes: bool(3), object(3)
memory usage: 229.3+ KB

In [18]:
df["CryoSleep"]=df["CryoSleep"].astype(int)
df["VIP"]=df["VIP"].astype(int)
df["Transported"]=df["Transported"].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  8693 non-null   object
 1   HomePlanet   8693 non-null   object
 2   CryoSleep    8693 non-null   int32
 3   Destination  8693 non-null   object
 4   VIP          8693 non-null   int32
 5   Transported  8693 non-null   int32
dtypes: int32(3), object(3)
memory usage: 305.7+ KB

In [19]:
df.isnull().sum()

PassengerId    0
HomePlanet     0
CryoSleep      0
Destination    0
VIP            0
Transported    0
dtype: int64

In [11]:
for i in df.select_dtypes(include = 'object').columns:
    df[i] = df[i].fillna(df[i].mode()[0])

In [12]:
df.isnull().sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
Transported     0
dtype: int64

In [20]:
from sklearn.preprocessing import LabelEncoder

In [21]:
labelEncoder=LabelEncoder()
df["HomePlanet"]=labelEncoder.fit_transform(df[["HomePlanet"]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [22]:
labelEncoder=LabelEncoder()
df["Destination"]=labelEncoder.fit_transform(df[["Destination"]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [24]:
data = pd.read_csv('test.csv')

In [25]:
data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB

In [27]:
data.drop(columns=["Age","RoomService","FoodCourt","ShoppingMall","Spa" ,"VRDeck","Name","Cabin"],inplace=True)

In [23]:
data.duplicated().sum()

0

In [28]:
data['HomePlanet'].fillna(value=data["HomePlanet"].mode()[0],inplace=True)
data['CryoSleep'].fillna(value=data["CryoSleep"].mode()[0],inplace=True)
data['Destination'].fillna(value=data["Destination"].mode()[0],inplace=True)
data['VIP'].fillna(value=data["VIP"].mode()[0],inplace=True)

In [29]:
data["CryoSleep"]=data["CryoSleep"].astype(int)
data["VIP"]=data["VIP"].astype(int)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  4277 non-null   object
 1   HomePlanet   4277 non-null   object
 2   CryoSleep    4277 non-null   int32
 3   Destination  4277 non-null   object
 4   VIP          4277 non-null   int32
dtypes: int32(2), object(3)
memory usage: 133.8+ KB

In [30]:
from sklearn.preprocessing import LabelEncoder

In [31]:
LlabelEncoder=LabelEncoder()
data["HomePlanet"]=LlabelEncoder.fit_transform(data["HomePlanet"])

In [32]:
LabelEncoder=LabelEncoder()
data["Destination"]=LabelEncoder.fit_transform(data["Destination"])

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  4277 non-null   object
 1   HomePlanet   4277 non-null   int32
 2   CryoSleep    4277 non-null   int32
 3   Destination  4277 non-null   int32
 4   VIP          4277 non-null   int32
dtypes: int32(4), object(1)
memory usage: 100.4+ KB

In [35]:
target = df["Transported"]
X = df.drop(columns=["Transported"])

In [36]:
from sklearn.ensemble import RandomForestClassifier

In [37]:
model=RandomForestClassifier()
model.fit(X,target)

RandomForestClassifier()

In [38]:
preds_test = model.predict(data)
submission = pd.DataFrame({"PassengerId":data.PassengerId, "Transported":pd.Series(preds_test).map({1:"True",0:"False"})})
submission.to_csv("submission.csv", index=False)